In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format='retina'

In [6]:
from data_collector import acquire_data
from data_cleaner import clean_data
# from modelling_pipeline import main as train_all_models
# from select_best_model_and_explain import main as select_best_model_and_explain

In [7]:
df = acquire_data()
df['year'].value_counts()

ukgov-gpg-2017.csv already exists in 'data' folder
ukgov-gpg-2018.csv already exists in 'data' folder
ukgov-gpg-2019.csv already exists in 'data' folder
sic_codes.csv already exists in 'data' folder

2018    10828
2017    10563
2019     5463
Name: year, dtype: int64

In [13]:
df_clean = clean_data(df, industry_sections="explode")
df_clean.info()

Exploding Industry Sections
<class 'pandas.core.frame.DataFrame'>
Int64Index: 69630 entries, 0 to 69629
Data columns (total 50 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EmployerName               69630 non-null  object
 1   Address                    69630 non-null  object
 2   CompanyNumber              63513 non-null  object
 3   SicCodes                   69630 non-null  int64
 4   DiffMeanHourlyPercent      69630 non-null  float64
 5   DiffMedianHourlyPercent    69630 non-null  float64
 6   DiffMeanBonusPercent       69630 non-null  float64
 7   DiffMedianBonusPercent     69630 non-null  float64
 8   MaleBonusPercent           69630 non-null  float64
 9   FemaleBonusPercent         69630 non-null  float64
 10  MaleLowerQuartile          69630 non-null  float64
 11  FemaleLowerQuartile        69630 non-null  float64
 12  MaleLowerMiddleQuartile    69630 non-null  float64
 13  FemaleLowerMiddleQuartile  69630 non-null  float64
 14  MaleUpperMiddleQuartile    69630 non-null  float64
 15  FemaleUpperMiddleQuartile  69630 non-null  float64
 16  MaleTopQuartile            69630 non-null  float64
 17  FemaleTopQuartile          69630 non-null  float64
 18  CompanyLinkToGPGInfo       49962 non-null  object
 19  EmployerSize               69630 non-null  object
 20  CurrentName                69630 non-null  object
 21  year                       69630 non-null  int64
 22  EmployerSizeAsNum          69630 non-null  int64
 23  EmpSize1k                  69630 non-null  uint8
 24  EmpSize20k                 69630 non-null  uint8
 25  EmpSize250                 69630 non-null  uint8
 26  EmpSize500                 69630 non-null  uint8
 27  EmpSize5k                  69630 non-null  uint8
 28  EmpSizeLt250               69630 non-null  uint8
 29  SectA                      69630 non-null  uint8
 30  SectB                      69630 non-null  uint8
 31  SectC                      69630 non-null  uint8
 32  SectD                      69630 non-null  uint8
 33  SectE                      69630 non-null  uint8
 34  SectF                      69630 non-null  uint8
 35  SectG                      69630 non-null  uint8
 36  SectH                      69630 non-null  uint8
 37  SectI                      69630 non-null  uint8
 38  SectJ                      69630 non-null  uint8
 39  SectK                      69630 non-null  uint8
 40  SectL                      69630 non-null  uint8
 41  SectM                      69630 non-null  uint8
 42  SectN                      69630 non-null  uint8
 43  SectO                      69630 non-null  uint8
 44  SectP                      69630 non-null  uint8
 45  SectQ                      69630 non-null  uint8
 46  SectR                      69630 non-null  uint8
 47  SectS                      69630 non-null  uint8
 48  SectT                      69630 non-null  uint8
 49  SectU                      69630 non-null  uint8
dtypes: float64(14), int64(3), object(6), uint8(27)
memory usage: 14.5+ MB

In [11]:
df_clean.describe()

,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,...,SectL,SectM,SectN,SectO,SectP,SectQ,SectR,SectS,SectT,SectU
count,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,...,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000,69630.000000
mean,61905.028723,14.863161,12.178705,15.511354,-5.200590,41.601957,39.650722,49.093243,50.906757,53.624109,...,0.013399,0.076547,0.117363,0.033491,0.096539,0.083613,0.030921,0.021945,0.000488,0.000776
std,23380.454245,14.492216,15.348019,648.907950,854.486393,36.453550,36.186167,23.774696,23.774696,25.787226,...,0.114978,0.265874,0.321855,0.179917,0.295331,0.276809,0.173104,0.146504,0.022092,0.027838
min,1110.000000,-400.000000,-196.500000,-82000.000000,-120695.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,46220.000000,5.700000,1.300000,0.000000,0.000000,5.000000,3.400000,30.500000,32.100000,33.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,64999.000000,14.200000,10.000000,31.200000,14.100000,33.000000,29.500000,48.300000,51.700000,53.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,84110.000000,23.300000,21.500000,56.000000,42.400000,80.000000,77.500000,67.900000,69.500000,75.700000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,99999.000000,159.000000,121.200000,3848.200000,4000.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
# df = augment_features(df)
# scores = train_all_models(df)
# select_best_model_and_explain(scores)