In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format='retina'

In [2]:
from data_collector import acquire_data
from data_cleaner import clean_data
# from modelling_pipeline import main as train_all_models
# from select_best_model_and_explain import main as select_best_model_and_explain

In [3]:
df = acquire_data()
df['year'].value_counts()

ukgov-gpg-2017.csv already exists in 'data' folder
ukgov-gpg-2018.csv already exists in 'data' folder
ukgov-gpg-2019.csv already exists in 'data' folder
sic_codes.csv already exists in 'data' folder

2018    10828
2017    10563
2019     5463
Name: year, dtype: int64

In [4]:
df = clean_data(df)
df.describe()

/Users/delgard/opt/miniconda3/lib/python3.7/site-packages/pandas/core/generic.py:6244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/Users/delgard/opt/miniconda3/lib/python3.7/site-packages/pandas/core/generic.py:5302: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,...,SectL,SectM,SectN,SectO,SectP,SectQ,SectR,SectS,SectT,SectU
count,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000,...,29837.00000,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000,29837.000000
mean,14.854171,12.179422,14.132905,-6.968586,40.973027,39.057127,48.819704,51.180296,53.343084,46.656916,...,0.01344,0.076482,0.116801,0.033415,0.101351,0.084794,0.031437,0.021651,0.000469,0.000737
std,14.437546,15.384946,698.773024,919.804330,36.512544,36.226809,23.902859,23.902859,25.870283,25.870283,...,0.11515,0.265773,0.321189,0.179720,0.301798,0.278580,0.174500,0.145544,0.021657,0.027144
min,-400.000000,-196.500000,-82000.000000,-120695.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.700000,1.200000,0.000000,0.000000,4.500000,3.000000,30.000000,32.300000,32.300000,24.600000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,14.100000,10.000000,30.600000,13.300000,31.300000,28.000000,48.000000,52.000000,52.600000,47.400000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,23.300000,21.500000,56.000000,42.000000,79.400000,77.000000,67.700000,70.000000,75.400000,67.700000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,159.000000,121.200000,3848.200000,4000.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
df.columns

Index(['EmployerName', 'Address', 'CompanyNumber', 'DiffMeanHourlyPercent',
       'DiffMedianHourlyPercent', 'DiffMeanBonusPercent',
       'DiffMedianBonusPercent', 'MaleBonusPercent', 'FemaleBonusPercent',
       'MaleLowerQuartile', 'FemaleLowerQuartile', 'MaleLowerMiddleQuartile',
       'FemaleLowerMiddleQuartile', 'MaleUpperMiddleQuartile',
       'FemaleUpperMiddleQuartile', 'MaleTopQuartile', 'FemaleTopQuartile',
       'CompanyLinkToGPGInfo', 'EmployerSize', 'CurrentName', 'year',
       'Section', 'SectionDesc', 'SectA', 'SectB', 'SectC', 'SectD', 'SectE',
       'SectF', 'SectG', 'SectH', 'SectI', 'SectJ', 'SectK', 'SectL', 'SectM',
       'SectN', 'SectO', 'SectP', 'SectQ', 'SectR', 'SectS', 'SectT', 'SectU'],
      dtype='object')

In [ ]:
df = augment_features(df)
scores = train_all_models(df)
select_best_model_and_explain(scores)