In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format='retina'

In [6]:
from data_collector import acquire_data
from data_cleaner import clean_data
from modelling_pipeline import main as train_all_models
# from select_best_model_and_explain import main as select_best_model_and_explain

In [7]:
df = acquire_data()
df['year'].value_counts()

ukgov-gpg-2017.csv already exists in 'data' folder
ukgov-gpg-2018.csv already exists in 'data' folder
ukgov-gpg-2019.csv already exists in 'data' folder
sic_codes.csv already exists in 'data' folder

2018    10828
2017    10563
2019     5462
Name: year, dtype: int64

In [8]:
df = clean_data(df)
df.describe()

,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,year
count,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000,23629.000000
mean,14.687426,11.943451,15.136277,-8.208887,40.604918,39.024766,47.819942,52.180058,52.230602,47.769398,56.676808,43.323192,62.640078,37.359922,2017.724068
std,14.537125,15.392118,574.216603,953.925382,36.605880,36.482390,23.567476,23.567476,25.605026,25.605026,25.717803,25.717803,23.627742,23.627742,0.734899
min,-400.000000,-196.500000,-82000.000000,-120695.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000
25%,5.500000,1.100000,0.000000,0.000000,4.200000,2.700000,29.400000,34.200000,31.900000,26.000000,36.600000,20.300000,44.900000,16.700000,2017.000000
50%,13.800000,9.900000,29.000000,12.600000,30.000000,27.100000,46.200000,53.800000,50.900000,49.100000,56.500000,43.500000,65.500000,34.500000,2018.000000
75%,23.000000,21.000000,55.100000,41.300000,79.400000,77.500000,65.800000,70.600000,74.000000,68.100000,79.700000,63.400000,83.300000,55.100000,2018.000000
max,159.000000,121.200000,3848.200000,4000.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,2019.000000

In [ ]:
df = explode_industry_sector(df)
df = augment_features(df)
scores = train_all_models(df)
select_best_model_and_explain(scores)