In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format='retina'

In [9]:
from data_collector import acquire_data
from data_cleaner import clean_data
from augment_features import augment
# from select_best_model_and_explain import main as select_best_model_and_explain

In [14]:
df = acquire_data()
df['year'].value_counts()

ukgov-gpg-2017.csv already exists in 'data' folder
ukgov-gpg-2018.csv already exists in 'data' folder
ukgov-gpg-2019.csv already exists in 'data' folder
sic_codes.csv already exists in 'data' folder

2018    10828
2017    10563
2019     5491
Name: year, dtype: int64

In [15]:
df_clean = clean_data(df, industry_sections="explode")
df_clean.info()

Exploding Industry Sections
<class 'pandas.core.frame.DataFrame'>
Int64Index: 87106 entries, 0 to 87105
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   EmployerName                 87106 non-null  object
 1   Address                      87106 non-null  object
 2   CompanyNumber                78283 non-null  object
 3   SicCodes                     87106 non-null  int64
 4   DiffMeanHourlyPercent        87106 non-null  float64
 5   DiffMedianHourlyPercent      87106 non-null  float64
 6   DiffMeanBonusPercent         87106 non-null  float64
 7   DiffMedianBonusPercent       87106 non-null  float64
 8   MaleBonusPercent             87106 non-null  float64
 9   FemaleBonusPercent           87106 non-null  float64
 10  MaleLowerQuartile            87106 non-null  float64
 11  FemaleLowerQuartile          87106 non-null  float64
 12  MaleLowerMiddleQuartile      87106 non-null  float64
 13  FemaleLowerMiddleQuartile    87106 non-null  float64
 14  MaleUpperMiddleQuartile      87106 non-null  float64
 15  FemaleUpperMiddleQuartile    87106 non-null  float64
 16  MaleTopQuartile              87106 non-null  float64
 17  FemaleTopQuartile            87106 non-null  float64
 18  CompanyLinkToGPGInfo         61687 non-null  object
 19  EmployerSize                 87106 non-null  object
 20  CurrentName                  87106 non-null  object
 21  year                         87106 non-null  int64
 22  EmployerSizeAsNum            87106 non-null  int64
 23  EmpSize1k                    87106 non-null  uint8
 24  EmpSize20k                   87106 non-null  uint8
 25  EmpSize250                   87106 non-null  uint8
 26  EmpSize500                   87106 non-null  uint8
 27  EmpSize5k                    87106 non-null  uint8
 28  EmpSizeLt250                 87106 non-null  uint8
 29  FirstSicCodeAsNum            87106 non-null  float64
 30  QuantDiffMeanBonusPercent    87106 non-null  int64
 31  QuantDiffMedianBonusPercent  87106 non-null  int64
 32  SectA                        87106 non-null  uint8
 33  SectB                        87106 non-null  uint8
 34  SectC                        87106 non-null  uint8
 35  SectD                        87106 non-null  uint8
 36  SectE                        87106 non-null  uint8
 37  SectF                        87106 non-null  uint8
 38  SectG                        87106 non-null  uint8
 39  SectH                        87106 non-null  uint8
 40  SectI                        87106 non-null  uint8
 41  SectJ                        87106 non-null  uint8
 42  SectK                        87106 non-null  uint8
 43  SectL                        87106 non-null  uint8
 44  SectM                        87106 non-null  uint8
 45  SectN                        87106 non-null  uint8
 46  SectO                        87106 non-null  uint8
 47  SectP                        87106 non-null  uint8
 48  SectQ                        87106 non-null  uint8
 49  SectR                        87106 non-null  uint8
 50  SectS                        87106 non-null  uint8
 51  SectT                        87106 non-null  uint8
 52  SectU                        87106 non-null  uint8
dtypes: float64(15), int64(5), object(6), uint8(27)
memory usage: 20.2+ MB

In [16]:
df_clean.describe()

,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,...,SectL,SectM,SectN,SectO,SectP,SectQ,SectR,SectS,SectT,SectU
count,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,...,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000,87106.000000
mean,64195.807143,14.401714,12.388063,15.770996,-2.482199,36.242315,34.576703,46.593112,53.406888,50.835642,...,0.012996,0.069490,0.111737,0.040583,0.140289,0.096101,0.032811,0.021973,0.000585,0.000723
std,23412.268129,14.649026,15.710604,580.959668,766.381861,36.756334,36.286293,24.470619,24.470619,26.439619,...,0.113256,0.254287,0.315045,0.197323,0.347288,0.294732,0.178142,0.146597,0.024190,0.026884
min,1110.000000,-499.900000,-196.500000,-82000.000000,-120695.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,46740.000000,5.200000,1.000000,0.500000,0.000000,0.600000,0.200000,26.800000,34.100000,29.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,70100.000000,13.800000,10.000000,22.300000,12.600000,20.100000,18.000000,45.100000,54.900000,49.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,85200.000000,23.000000,21.900000,52.500000,37.700000,75.300000,71.700000,65.900000,73.200000,73.900000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,99999.000000,159.000000,121.200000,3848.200000,4000.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
df_full = augment(df_clean)
df_full.columns

Index(['EmployerName', 'Address', 'CompanyNumber', 'SicCodes',
       'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'EmployerSize', 'CurrentName', 'year', 'EmployerSizeAsNum', 'EmpSize1k',
       'EmpSize20k', 'EmpSize250', 'EmpSize500', 'EmpSize5k', 'EmpSizeLt250',
       'FirstSicCodeAsNum', 'QuantDiffMeanBonusPercent',
       'QuantDiffMedianBonusPercent', 'SectA', 'SectB', 'SectC', 'SectD',
       'SectE', 'SectF', 'SectG', 'SectH', 'SectI', 'SectJ', 'SectK', 'SectL',
       'SectM', 'SectN', 'SectO', 'SectP', 'SectQ', 'SectR', 'SectS', 'SectT',
       'SectU', 'MalePercent', 'FemalePercent', 'WorkforceGenderSkew',
       'PercMaleWorkforceInTopQuartile',
       'PercMaleWorkforceInUpperMiddleQuartile',
       'PercMaleWorkforceInLowerMiddleQuartile',
       'PercMaleWorkforceInLowerQuartile', 'PercFemaleWorkforceInTopQuartile',
       'PercFemaleWorkforceInUpperMiddleQuartile',
       'PercFemaleWorkforceInLowerMiddleQuartile',
       'PercFemaleWorkforceInLowerQuartile', 'RepresentationInTopQuartileSkew',
       'RepresentationInUpperMiddleQuartileSkew',
       'RepresentationInLowerMiddleQuartileSkew',
       'RepresentationInLowerQuartileSkew', 'BonusGenderSkew'],
      dtype='object')